In [12]:
import bls
from blsconnect import RequestBLS, bls_search
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import requests
import dateutil
from datetime import datetime
#import datetime
import calendar
dict((v,k) for k,v in enumerate(calendar.month_abbr)) #from dateutil.rrule import *
#from dateutil.parser import *
#from datetime import *
import csv
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import json

In [13]:
from config import BLS_API_KEY
bls = RequestBLS(key = BLS_API_KEY)

In [14]:
Clark_Co_unemployment_stats = pd.DataFrame(bls.series(['LAUCN180190000000003','LAUCN180190000000004','LAUCN180190000000005','LAUCN180190000000006'], 1990, 2020))

In [15]:
#Clark_Co_unemployment_stats.index.names = ['Date']
Clark_Co_unemployment_stats.columns = ['Year','Period','periodName','Unemployment_Rate', 'Unemployed', 'Employed','Labor_Force']
Clark_Co_unemployment_stats.head(2)

,Year,Period,periodName,Unemployment_Rate,Unemployed,Employed,Labor_Force
0,1990,M01,January,5.2,2323,42443,44766
1,1990,M02,February,5.5,2475,42407,44882

In [16]:
Clark_Co_unemployment_stats['Year-Month'] = Clark_Co_unemployment_stats["Year"].astype(str) + "-" + Clark_Co_unemployment_stats["periodName"] 
Clark_Co_unemployment_stats.head(2)

,Year,Period,periodName,Unemployment_Rate,Unemployed,Employed,Labor_Force,Year-Month
0,1990,M01,January,5.2,2323,42443,44766,1990-January
1,1990,M02,February,5.5,2475,42407,44882,1990-February

In [17]:
Clark_Co_unemployment_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 8 columns):
Year                 361 non-null int64
Period               361 non-null object
periodName           361 non-null object
Unemployment_Rate    361 non-null float64
Unemployed           361 non-null int64
Employed             361 non-null int64
Labor_Force          361 non-null int64
Year-Month           361 non-null object
dtypes: float64(1), int64(4), object(3)
memory usage: 22.7+ KB

In [18]:
Clark_Co_unemployment_stats['County'] = 'Clark'

In [19]:
Clark_Co_unemployment_stats.head(2)

,Year,Period,periodName,Unemployment_Rate,Unemployed,Employed,Labor_Force,Year-Month,County
0,1990,M01,January,5.2,2323,42443,44766,1990-January,Clark
1,1990,M02,February,5.5,2475,42407,44882,1990-February,Clark

In [20]:
Clark_Co_unemployment_stats.to_json(r'json\Clark_Co_unemployment_stats.json')

In [21]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///project2.sqlite')

In [22]:
Clark_Co_unemployment_stats.to_sql('CountyUnemployment', con=db)

ValueError: Table 'CountyUnemployment' already exists.

In [ ]:
Clark_Co_unemployment_stats = pd.read_sql_query('SELECT * FROM CountyUnemployment LIMIT 3',db)
Clark_Co_unemployment_stats.head()