In [ ]:
pip install blsconnect

In [19]:
import bls
from blsconnect import RequestBLS, bls_search
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import requests
import dateutil
from datetime import datetime
#import datetime
import calendar
dict((v,k) for k,v in enumerate(calendar.month_abbr)) #from dateutil.rrule import *
#from dateutil.parser import *
#from datetime import *
import csv
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import json

In [20]:
from config import BLS_API_KEY
bls = RequestBLS(key = BLS_API_KEY)

In [40]:
Clark_Co_unemployment_stats = pd.DataFrame(bls.series(['LAUCN180190000000003','LAUCN180190000000004','LAUCN180190000000005','LAUCN180190000000006'], 2005, 2020))

In [41]:
#Marion_Co_unemployment_stats.index.names = ['Date']
Clark_Co_unemployment_stats.columns = ['Year','Period','periodName','Unemployment_Rate', 'Unemployed', 'Employed','Labor_Force']

In [42]:
Clark_Co_unemployment_stats['Year-Month'] = Clark_Co_unemployment_stats["Year"].astype(str) + "-" + Clark_Co_unemployment_stats["periodName"]

In [43]:
Clark_Co_unemployment_stats['County'] = 'Clark'

In [16]:
Clark_Co_unemployment_stats.head(2)

,Year,Period,periodName,Unemployment_Rate,Unemployed,Employed,Labor_Force
0,2007,M01,January,5.0,2732,52390,55122
1,2007,M02,February,4.9,2702,52160,54862

In [8]:
Clark_Co_unemployment_stats = Clark_Co_unemployment_stats.set_index['Year_Month']

TypeError: 'method' object is not subscriptable

In [44]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///project2.sqlite')

In [45]:
Clark_Co_unemployment_stats.to_sql('CountyUnemployment', con=db)

In [13]:
Clark_Co_unemployment_stats = pd.read_sql_query('SELECT * FROM CountyUnemployment LIMIT 3',db)
Clark_Co_unemployment_stats.head()

,index,Year,Period,periodName,Unemployment_Rate,Unemployed,Employed,Labor_Force,Year-Month,County
0,0,2007,M01,January,5.0,2732,52390,55122,2007-January,Clark
1,1,2007,M02,February,4.9,2702,52160,54862,2007-February,Clark
2,2,2007,M03,March,4.4,2382,52092,54474,2007-March,Clark

In [27]:
Clark_Co_unemployment_stats.to_json('Clark_Co_unemployment_stats.json')