In [1]:
import bls
from blsconnect import RequestBLS, bls_search
import pandas as pd
import json

In [2]:
from config import BLS_API_KEY
bls = RequestBLS(key = BLS_API_KEY)

In [11]:
decatur_county = pd.DataFrame(bls.series(['LAUCN180310000000003','LAUCN180310000000004','LAUCN180310000000005','LAUCN180310000000006'], 2005, 2020))

In [12]:
boone_county = pd.DataFrame(bls.series(['LAUCN180110000000003','LAUCN180110000000004','LAUCN180110000000005','LAUCN180110000000006'], 2005, 2020))
lake_county = pd.DataFrame(bls.series(['LAUCN180890000000003','LAUCN180890000000004','LAUCN180890000000005','LAUCN180890000000006'], 2005, 2020))
warrick_county = pd.DataFrame(bls.series(['LAUCN181730000000003','LAUCN181730000000004','LAUCN181730000000005','LAUCN181730000000006'], 2005, 2020))

In [13]:
decatur_county.columns = ['Year','Period','periodName','Unemployment_Rate', 'Unemployed', 'Employed','Labor_Force']

In [14]:
decatur_county['YearMonth'] = decatur_county["Year"].astype(str) + "-" + decatur_county["periodName"].str[:3]
decatur_county['County'] = 'Decatur'

In [16]:
boone_county.columns = ['Year','Period','periodName','Unemployment_Rate', 'Unemployed', 'Employed','Labor_Force']
boone_county['YearMonth'] = boone_county["Year"].astype(str) + "-" + boone_county["periodName"].str[:3]
boone_county['County'] = 'Boone'

In [17]:
lake_county.columns = ['Year','Period','periodName','Unemployment_Rate', 'Unemployed', 'Employed','Labor_Force']
lake_county['YearMonth'] = lake_county["Year"].astype(str) + "-" + lake_county["periodName"].str[:3]
lake_county['County'] = 'Lake'

In [18]:
warrick_county.columns = ['Year','Period','periodName','Unemployment_Rate', 'Unemployed', 'Employed','Labor_Force']
warrick_county['YearMonth'] = warrick_county["Year"].astype(str) + "-" + warrick_county["periodName"].str[:3]
warrick_county['County'] = 'Warrick'

In [15]:
decatur_county.head()

,Year,Period,periodName,Unemployment_Rate,Unemployed,Employed,Labor_Force,YearMonth,County
0,2005,M01,January,6.4,792,11674,12466,2005-Jan,Decatur
1,2005,M02,February,6.4,798,11741,12539,2005-Feb,Decatur
2,2005,M03,March,5.6,709,11898,12607,2005-Mar,Decatur
3,2005,M04,April,5.0,629,12036,12665,2005-Apr,Decatur
4,2005,M05,May,4.9,621,12075,12696,2005-May,Decatur

In [40]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///project2.sqlite')

In [41]:
decatur_county.to_sql('CountyUnemployment', con=db, if_exists='append')

In [7]:
decatur_county.to_json('static/data/Decatur_Co_unemployment_stats.json')

In [19]:
johnson_county = pd.DataFrame(bls.series(['LAUCN180810000000003','LAUCN180810000000004','LAUCN180810000000005','LAUCN180810000000006'], 2005, 2020))

In [20]:
johnson_county.columns = ['Year','Period','periodName','Unemployment_Rate', 'Unemployed', 'Employed','Labor_Force']

In [21]:
johnson_county['YearMonth'] = johnson_county["Year"].astype(str) + "-" + johnson_county["periodName"].str[:3]
johnson_county['County'] = 'Johnson'

In [46]:
johnson_county.to_sql('CountyUnemployment', con=db, if_exists='append')

In [22]:
johnson_county.to_json('static/data/Johnson_Co_unemployment_stats.json')

In [23]:
vanderburgh_county = pd.DataFrame(bls.series(['LAUCN181630000000003','LAUCN181630000000004','LAUCN181630000000005','LAUCN181630000000006'], 2005, 2020))

In [24]:
vanderburgh_county.columns = ['Year','Period','periodName','Unemployment_Rate', 'Unemployed', 'Employed','Labor_Force']

In [25]:
vanderburgh_county['YearMonth'] = vanderburgh_county["Year"].astype(str) + "-" + vanderburgh_county["periodName"].str[:3]
vanderburgh_county['County'] = 'Vanderburgh'

In [51]:
vanderburgh_county.to_sql('CountyUnemployment', con=db, if_exists='append')

In [26]:
vanderburgh_county.to_json('static/data/Vanderburgh_Co_unemployment_stats.json')

In [27]:
boone_county.to_json('static/data/Boone_Co_unemployment_stats.json')
lake_county.to_json('static/data/Lake_Co_unemployment_stats.json')
warrick_county.to_json('static/data/Warrick_Co_unemployment_stats.json')