In [18]:
import pandas as pd
import csv

In [19]:
Hamilton_weekly_claims = pd.read_csv("Data Sources/r539cy_BLS_Weekly_Jobs_Claims_IN_Hamilton_Co.csv")

In [20]:
Hamilton_weekly_claims.head(14)

              Geography        Date Initial Claims
0   Hamilton County, IN  2020-01-04            106
1   Hamilton County, IN  2020-01-11            127
2   Hamilton County, IN  2020-01-18             80
3   Hamilton County, IN  2020-01-25             77
4   Hamilton County, IN  2020-02-01             61
5   Hamilton County, IN  2020-02-08             69
6   Hamilton County, IN  2020-02-15             68
7   Hamilton County, IN  2020-02-22             51
8   Hamilton County, IN  2020-02-29             66
9   Hamilton County, IN  2020-03-07             52
10  Hamilton County, IN  2020-03-14             83
11  Hamilton County, IN  2020-03-21          2,247
12  Hamilton County, IN  2020-03-28          3,554
13  Hamilton County, IN  2020-04-04          3,756

In [27]:
Hamilton_weekly_claims.columns = ['County','Date', 'InitialClaims']

In [28]:
Hamilton_weekly_claims.head()

                County      Date InitialClaims
0  Hamilton County, IN  20200103           106
1  Hamilton County, IN  20200110           127
2  Hamilton County, IN  20200117            80
3  Hamilton County, IN  20200124            77
4  Hamilton County, IN  20200131            61

In [29]:
Hamilton_Covid = pd.read_pickle('Hamilton_covid.pkl')

In [30]:
Hamilton_Covid.head()

            County GEOGID      Date  Count
0  Hamilton County  18057  20200306      0
1  Hamilton County  18057  20200307      0
2  Hamilton County  18057  20200308      0
3  Hamilton County  18057  20200309      0
4  Hamilton County  18057  20200310      0

In [31]:
Hamilton_Covid_Weekly_Claims = pd.merge(Hamilton_weekly_claims[['County', 'Date', 'InitialClaims']], 
                                          Hamilton_Covid[['Count', 'Date']], how='outer', on='Date', sort=True)

In [32]:
Hamilton_Covid_Weekly_Claims['County'] = 'Hamilton County, IN'
Hamilton_Covid_Weekly_Claims.fillna(0, inplace=True)

In [33]:
Hamilton_Covid_Weekly_Claims.dtypes

County            object
Date              object
InitialClaims     object
Count            float64
dtype: object

In [34]:
Hamilton_Covid_Weekly_Claims.head()

                County      Date InitialClaims  Count
0  Hamilton County, IN  20200103           106    0.0
1  Hamilton County, IN  20200110           127    0.0
2  Hamilton County, IN  20200117            80    0.0
3  Hamilton County, IN  20200124            77    0.0
4  Hamilton County, IN  20200131            61    0.0

In [35]:
Hamilton_Covid_Weekly_Claims.to_json('static/data/Hamilton_covid_weekly_claims.json')