In [1]:
import bls
from blsconnect import RequestBLS, bls_search
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import requests
import dateutil
from datetime import datetime
#import datetime
import calendar
dict((v,k) for k,v in enumerate(calendar.month_abbr)) #from dateutil.rrule import *
#from dateutil.parser import *
#from datetime import *
import csv
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import json

In [2]:
from config import BLS_API_KEY
bls = RequestBLS(key = BLS_API_KEY)

In [3]:
IN_COVID_19_Cases_A = pd.read_csv("data/Indiana_COVID-19_Cases_ by_Day-COVID_Cases_Total_by_Day.csv")
IN_COVID_19_Cases_A.columns = ['County','GeoID','2020-03-06','2020-03-07','2020-03-08','2020-03-09','2020-03-10','2020-03-11','2020-03-12','2020-03-13'
                            ,'2020-03-14','2020-03-15','2020-03-16','2020-03-17','2020-03-18','2020-03-19','2020-03-20','2020-03-21','2020-03-22','2020-03-23'
                            ,'2020-03-24','2020-03-25','2020-03-26','2020-03-27','2020-03-28','2020-03-29','2020-03-30','2020-03-31'
                            ,'2020-04-01','2020-04-02','2020-04-03','2020-04-04']

In [4]:
IN_COVID_19_Cases = IN_COVID_19_Cases_A.replace(np.nan, "N/A")
IN_COVID_19_Cases.head(2)

,County,GeoID,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,2020-03-11,2020-03-12,2020-03-13,...,2020-03-26,2020-03-27,2020-03-28,2020-03-29,2020-03-30,2020-03-31,2020-04-01,2020-04-02,2020-04-03,2020-04-04
0,Adams County,18001,N/A,N/A,N/A,N/A,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
1,Allen County,18003,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,8,21,23,26,28,30,39,46,58,59

In [ ]:
#IN_COVID_19_Cases.to_json('json\IN_Covid_19_Cases_stats.json')

In [ ]:
#from sqlalchemy import create_engine
#db = create_engine('sqlite:///project2.sqlite')

In [ ]:
#IN_COVID_19_Cases.to_sql('IN_Covid_19_Cases', con=db, if_exists='append')

In [ ]:
#IN_COVID_19_Cases = pd.read_sql_query('SELECT * FROM IN_Covid_19_Cases LIMIT 3',db)
#IN_COVID_19_Cases.head()