In [1]:
import bls
from blsconnect import RequestBLS, bls_search
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import requests
import dateutil
from datetime import datetime
#import datetime
import calendar
dict((v,k) for k,v in enumerate(calendar.month_abbr)) #from dateutil.rrule import *
#from dateutil.parser import *
#from datetime import *
import csv
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import json

In [2]:
from config import BLS_API_KEY
bls = RequestBLS(key = BLS_API_KEY)

In [3]:
Indiana_monthly_unemployment_stats = pd.DataFrame(bls.series(['LAUST180000000000003','LAUST180000000000004','LAUST180000000000005','LAUST180000000000006'
                                                              ,'LAUST180000000000007','LAUST180000000000008','LAUST180000000000009'], 2005, 2020))

In [4]:
Indiana_monthly_unemployment_stats.columns = ['Year','Period','periodName','Unemployment Rate','Unemployed','Employed','Labr Force'
                                              ,'Employement-Population Ratio','Labor Force Participation Rate','Civilian Noninstitutional Population']

In [5]:
Indiana_monthly_unemployment_stats['Year-Month'] = Indiana_monthly_unemployment_stats["Year"].astype(str) + "-" + Indiana_monthly_unemployment_stats["periodName"]

In [6]:
Indiana_monthly_unemployment_stats['State'] = 'Indiana'

In [7]:
Indiana_monthly_unemployment_stats.head(2)

,Year,Period,periodName,Unemployment Rate,Unemployed,Employed,Labr Force,Employement-Population Ratio,Labor Force Participation Rate,Civilian Noninstitutional Population,Year-Month,State
0,2005,M01,January,6.2,195090,2957759,3152849,62.5,66.6,4734369,2005-January,Indiana
1,2005,M02,February,6.5,206368,2962476,3168844,62.5,66.9,4736904,2005-February,Indiana

In [8]:
Indiana_monthly_unemployment_stats.to_json('json\Indiana_Statewide_unemployment_stats.json')

In [9]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///project2.sqlite')

In [10]:
Indiana_monthly_unemployment_stats.to_sql('CountyUnemployment', con=db, if_exists='append')

OperationalError: (sqlite3.OperationalError) table CountyUnemployment has no column named Unemployment Rate
[SQL: INSERT INTO "CountyUnemployment" ("index", "Year", "Period", "periodName", "Unemployment Rate", "Unemployed", "Employed", "Labr Force", "Employement-Population Ratio", "Labor Force Participation Rate", "Civilian Noninstitutional Population", "Year-Month", "State") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ((0, 2005, 'M01', 'January', 6.2, 195090, 2957759, 3152849, 62.5, 66.6, 4734369, '2005-January', 'Indiana'), (1, 2005, 'M02', 'February', 6.5, 206368, 2962476, 3168844, 62.5, 66.9, 4736904, '2005-February', 'Indiana'), (2, 2005, 'M03', 'March', 6.0, 189316, 2976330, 3165646, 62.8, 66.8, 4739527, '2005-March', 'Indiana'), (3, 2005, 'M04', 'April', 5.3, 168110, 3018730, 3186840, 63.7, 67.2, 4742556, '2005-April', 'Indiana'), (4, 2005, 'M05', 'May', 5.2, 166228, 3038976, 3205204, 64.0, 67.5, 4745870, '2005-May', 'Indiana'), (5, 2005, 'M06', 'June', 5.4, 173522, 3059890, 3233412, 64.4, 68.1, 4749491, '2005-June', 'Indiana'), (6, 2005, 'M07', 'July', 5.4, 174277, 3068060, 3242337, 64.5, 68.2, 4753203, '2005-July', 'Indiana'), (7, 2005, 'M08', 'August', 5.2, 167308, 3054073, 3221381, 64.2, 67.7, 4756761, '2005-August', 'Indiana')  ... displaying 10 of 182 total bound parameter sets ...  (180, 2020, 'M01', 'January', 3.6, 121512, 3254377, 3375889, 61.8, 64.1, 5267251, '2020-January', 'Indiana'), (181, 2020, 'M02', 'February', 3.4, 113949, 3278102, 3392051, 62.2, 64.4, 5269797, '2020-February', 'Indiana'))]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
Indiana_monthly_unemployment_stats = pd.read_sql_query('SELECT * FROM CountyUnemployment LIMIT 3',db)
Indiana_monthly_unemployment_stats.head()