In [1]:
import bls
from blsconnect import RequestBLS, bls_search
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import requests
import dateutil
from datetime import datetime
#import datetime
import calendar
dict((v,k) for k,v in enumerate(calendar.month_abbr)) #from dateutil.rrule import *
#from dateutil.parser import *
#from datetime import *
import csv
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import json

In [2]:
from config import BLS_API_KEY
bls = RequestBLS(key = BLS_API_KEY)

In [3]:
Indiana_monthly_unemployment_stats = pd.DataFrame(bls.series(['LAUST180000000000003','LAUST180000000000004','LAUST180000000000005','LAUST180000000000006'
                                                              ,'LAUST180000000000007','LAUST180000000000008','LAUST180000000000009'], 2005, 2020))

In [4]:
Indiana_monthly_unemployment_stats.columns = ['Year','Period','periodName','Unemployment Rate','Unemployed','Employed','Labr Force'
                                              ,'Employement-Population Ratio','Labor Force Participation Rate','Civilian Noninstitutional Population']

In [5]:
Indiana_monthly_unemployment_stats['Year-Month'] = Indiana_monthly_unemployment_stats["Year"].astype(str) + "-" + Indiana_monthly_unemployment_stats["periodName"]

In [6]:
Indiana_monthly_unemployment_stats['State'] = 'Indiana'

In [7]:
Indiana_monthly_unemployment_stats.head(2)

,Year,Period,periodName,Unemployment Rate,Unemployed,Employed,Labr Force,Employement-Population Ratio,Labor Force Participation Rate,Civilian Noninstitutional Population,Year-Month,State
0,2005,M01,January,6.2,195090,2957759,3152849,62.5,66.6,4734369,2005-January,Indiana
1,2005,M02,February,6.5,206368,2962476,3168844,62.5,66.9,4736904,2005-February,Indiana

In [8]:
Indiana_monthly_unemployment_stats.to_json('json\Indiana_Statewide_unemployment_stats.json')

In [9]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///project2.sqlite')

In [10]:
Indiana_monthly_unemployment_stats.to_sql('Indiana_Statewide_unemployment_stats', con=db, if_exists='append')

In [11]:
Indiana_monthly_unemployment_stats = pd.read_sql_query('SELECT * FROM Indiana_Statewide_unemployment_stats LIMIT 3',db)
Indiana_monthly_unemployment_stats.head()

,index,Year,Period,periodName,Unemployment Rate,Unemployed,Employed,Labr Force,Employement-Population Ratio,Labor Force Participation Rate,Civilian Noninstitutional Population,Year-Month,State
0,0,2005,M01,January,6.2,195090,2957759,3152849,62.5,66.6,4734369,2005-January,Indiana
1,1,2005,M02,February,6.5,206368,2962476,3168844,62.5,66.9,4736904,2005-February,Indiana
2,2,2005,M03,March,6.0,189316,2976330,3165646,62.8,66.8,4739527,2005-March,Indiana