In [1]:
import bls
from blsconnect import RequestBLS, bls_search
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import requests
import dateutil
from datetime import datetime
#import datetime
import calendar
dict((v,k) for k,v in enumerate(calendar.month_abbr)) #from dateutil.rrule import *
#from dateutil.parser import *
#from datetime import *
import csv
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import json

In [2]:
from config import BLS_API_KEY
bls = RequestBLS(key = BLS_API_KEY)

In [3]:
Indiana_monthly_unemployment_stats = pd.DataFrame(bls.series(['LAUST180000000000003','LAUST180000000000004','LAUST180000000000005','LAUST180000000000006'
                                                              ,'LAUST180000000000007','LAUST180000000000008','LAUST180000000000009'], 1990, 2020))

In [4]:
Indiana_monthly_unemployment_stats.columns = ['Year','Period','periodName','Unemployment Rate','Unemployed','Employed','Labr Force'
                                              ,'Employement-Population Ratio','Labor Force Participation Rate','Civilian Noninstitutional Population']
Indiana_monthly_unemployment_stats.head(2)

,Year,Period,periodName,Unemployment Rate,Unemployed,Employed,Labr Force,Employement-Population Ratio,Labor Force Participation Rate,Civilian Noninstitutional Population
0,1990,M01,January,5.8,163676,2655784,2819460,64.4,68.4,4124937
1,1990,M02,February,6.1,170367,2640518,2810885,63.8,67.9,4137185

In [5]:
Indiana_monthly_unemployment_stats['Year-Month'] = Indiana_monthly_unemployment_stats["Year"].astype(str) + "-" + Indiana_monthly_unemployment_stats["periodName"] 
Indiana_monthly_unemployment_stats.head(2)

,Year,Period,periodName,Unemployment Rate,Unemployed,Employed,Labr Force,Employement-Population Ratio,Labor Force Participation Rate,Civilian Noninstitutional Population,Year-Month
0,1990,M01,January,5.8,163676,2655784,2819460,64.4,68.4,4124937,1990-January
1,1990,M02,February,6.1,170367,2640518,2810885,63.8,67.9,4137185,1990-February

In [6]:
Indiana_monthly_unemployment_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 11 columns):
Year                                    362 non-null int64
Period                                  362 non-null object
periodName                              362 non-null object
Unemployment Rate                       362 non-null float64
Unemployed                              362 non-null int64
Employed                                362 non-null int64
Labr Force                              362 non-null int64
Employement-Population Ratio            362 non-null float64
Labor Force Participation Rate          362 non-null float64
Civilian Noninstitutional Population    362 non-null int64
Year-Month                              362 non-null object
dtypes: float64(3), int64(5), object(3)
memory usage: 31.2+ KB

In [7]:
Indiana_monthly_unemployment_stats['State'] = 'Indiana'

In [8]:
Indiana_monthly_unemployment_stats.head(2)

,Year,Period,periodName,Unemployment Rate,Unemployed,Employed,Labr Force,Employement-Population Ratio,Labor Force Participation Rate,Civilian Noninstitutional Population,Year-Month,State
0,1990,M01,January,5.8,163676,2655784,2819460,64.4,68.4,4124937,1990-January,Indiana
1,1990,M02,February,6.1,170367,2640518,2810885,63.8,67.9,4137185,1990-February,Indiana

In [9]:
Indiana_monthly_unemployment_stats.to_json(r'json\Indiana_Statewide_unemployment_stats.json')

In [10]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///project2.sqlite')

In [11]:
Indiana_monthly_unemployment_stats.to_sql('CountyUnemployment', con=db)

ValueError: Table 'CountyUnemployment' already exists.

In [ ]:
Indiana_monthly_unemployment_stats = pd.read_sql_query('SELECT * FROM CountyUnemployment LIMIT 3',db)
Indiana_monthly_unemployment_stats.head()