In [11]:
import bls
from blsconnect import RequestBLS, bls_search
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import requests
import dateutil
from datetime import datetime
#import datetime
import calendar
dict((v,k) for k,v in enumerate(calendar.month_abbr)) #from dateutil.rrule import *
#from dateutil.parser import *
#from datetime import *
import csv
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import json

In [12]:
from config import BLS_API_KEY
bls = RequestBLS(key = BLS_API_KEY)

In [13]:
Monroe_Co_unemployment_stats = pd.DataFrame(bls.series(['LAUCN181050000000003', 'LAUCN181050000000004', 'LAUCN181050000000005', 'LAUCN181050000000006'], 2005, 2020))

In [14]:
Monroe_Co_unemployment_stats.columns = ['Year','Period','periodName','Unemployment_Rate', 'Unemployed', 'Employed','Labor_Force']

In [15]:
Monroe_Co_unemployment_stats['Year-Month'] = Monroe_Co_unemployment_stats["Year"].astype(str) + "-" + Monroe_Co_unemployment_stats["periodName"]

In [16]:
Monroe_Co_unemployment_stats['County'] = 'Monroe'

In [17]:
Monroe_Co_unemployment_stats.head(2)

,Year,Period,periodName,Unemployment_Rate,Unemployed,Employed,Labor_Force,Year-Month,County
0,2005,M01,January,5.1,3367,63120,66487,2005-January,Monroe
1,2005,M02,February,5.5,3649,63265,66914,2005-February,Monroe

In [18]:
Monroe_Co_unemployment_stats.to_json('json\Monroe_Co_unemployment_stats.json')

In [19]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///project2.sqlite')

In [20]:
Monroe_Co_unemployment_stats.to_sql('CountyUnemployment', con=db, if_exists='append')

In [21]:
Monroe_Co_unemployment_stats = pd.read_sql_query('SELECT * FROM CountyUnemployment LIMIT 3',db)
Monroe_Co_unemployment_stats.head()

,index,Year,Period,periodName,Unemployment_Rate,Unemployed,Employed,Labor_Force,Year-Month,County
0,0,1990,M01,January,5.2,2323,42443,44766,1990-January,Clark
1,1,1990,M02,February,5.5,2475,42407,44882,1990-February,Clark
2,2,1990,M03,March,6.4,2924,42505,45429,1990-March,Clark