* Indiana - LAUST180000000000003,LAUST180000000000004,LAUST180000000000005,LAUST180000000000006,LAUST180000000000007,LAUST180000000000008,LAUST180000000000009
* Marion Co - LAUCN180970000000003, LAUCN180970000000004, LAUCN180970000000005, LAUCN180970000000006
* Monroe Co - LAUCN181050000000003, LAUCN181050000000004, LAUCN181050000000005, LAUCN181050000000006
* St. Joseph Co - LAUCN181410000000003, LAUCN181410000000004, LAUCN181410000000005, LAUCN181410000000006

In [7]:
import bls
import pandas as pd

#### **United States Unemployment**

In [8]:
US_monthly_unemployment_rate = pd.DataFrame(bls.get_series('LNS14000000', 2011, 2020))

In [9]:
US_monthly_unemployment_rate.index.names = ['Date']
US_monthly_unemployment_rate.columns = ['Unemployment Rate']
US_monthly_unemployment_rate.head(2)

         Unemployment Rate
Date
2011-01                9.1
2011-02                9.0

#### **Indiana Unemployment**

In [10]:
Indiana_monthly_unemployment_stats = pd.DataFrame(bls.get_series(['LAUST180000000000003','LAUST180000000000004','LAUST180000000000005','LAUST180000000000006'
                                                                  ,'LAUST180000000000007','LAUST180000000000008','LAUST180000000000009'], 2011, 2020))

In [11]:
Indiana_monthly_unemployment_stats.index.names = ['Date']
Indiana_monthly_unemployment_stats.columns = ['Unemployment Rate','Unemployed','Employed','Labr Force','Employement-Population Ratio','Labor Force Participation Rate','Civilian Noninstitutional Population']
Indiana_monthly_unemployment_stats.head(2)

,Unemployment Rate,Unemployed,Employed,Labr Force,Employement-Population Ratio,Labor Force Participation Rate,Civilian Noninstitutional Population
Date,,,,,,,
2011-01,10.0,312687.0,2827588.0,3140275.0,56.7,62.9,4988647.0
2011-02,9.6,301388.0,2832204.0,3133592.0,56.7,62.8,4990729.0

#### **Monroe Co Unemployment**

In [12]:
Monroe_Co_unemployment_stats = pd.DataFrame(bls.get_series(['LAUCN181050000000003', 'LAUCN181050000000004', 'LAUCN181050000000005', 'LAUCN181050000000006'], 2011, 2020))

In [13]:
Monroe_Co_unemployment_stats.index.names = ['Date']
Monroe_Co_unemployment_stats.columns = ['Unemployment Rate', 'Unemployed', 'Employed','Labor Force']
Monroe_Co_unemployment_stats.head(2)

         Unemployment Rate  Unemployed  Employed  Labor Force
Date
2011-01                7.3      4911.0   62412.0      67323.0
2011-02                7.4      4960.0   62423.0      67383.0

#### **Marion Co Unemployment**

In [14]:
Marion_Co_unemployment_stats = pd.DataFrame(bls.get_series(['LAUCN180970000000003', 'LAUCN180970000000004', 'LAUCN180970000000005', 'LAUCN180970000000006'], 2011, 2020))

In [15]:
Marion_Co_unemployment_stats.index.names = ['Date']
Marion_Co_unemployment_stats.columns = ['Unemployment Rate', 'Unemployed', 'Employed','Labor Force']
Marion_Co_unemployment_stats.head(2)

         Unemployment Rate  Unemployed  Employed  Labor Force
Date
2011-01               10.4     46303.0  399851.0     446154.0
2011-02               10.2     45301.0  399023.0     444324.0

#### **St. Joseph Co Unemployment**

In [16]:
StJospeh_Co_unemployment_stats = pd.DataFrame(bls.get_series(['LAUCN181410000000003', 'LAUCN181410000000004', 'LAUCN181410000000005', 'LAUCN181410000000006'], 2011, 2020))

In [17]:
StJospeh_Co_unemployment_stats.index.names = ['Date']
StJospeh_Co_unemployment_stats.columns = ['Unemployment Rate', 'Unemployed', 'Employed','Labor Force']
StJospeh_Co_unemployment_stats.head(3)

         Unemployment Rate  Unemployed  Employed  Labor Force
Date
2011-01               10.7     13786.0  115236.0     129022.0
2011-02               10.4     13450.0  116073.0     129523.0
2011-03               10.1     13178.0  116833.0     130011.0

***
#### **United States Weekly New Jobs Claims**
***

In [25]:
US_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_US.csv")
US_weekly_new_jobs_claims.head(2)

        Date Weekly Jobs Claims
0   1/7/1967            208,000
1  1/14/1967            207,000

***
#### **Indiana Weekly New Jobs Claims**
***

In [24]:
IN_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_Indiana.csv")
IN_weekly_new_jobs_claims.head(2)

,State,Filed week ended,Initial Claims,Reflecting Week Ended,Continued Claims,Covered Employment,Insured Unemployment Rate
0,Indiana,1987-01-03,"10,068",1986-12-27,"47,604","2,065,922",2.30
1,Indiana,1987-01-10,"16,812",1987-01-03,"63,290","2,078,050",3.05

***
#### **Marion County Weekly New Jobs Claims**
***

In [19]:
MarionCo_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_IN_MarionCo.csv")
MarionCo_weekly_new_jobs_claims.head(2)

           Geography       Date Initial Claims
0  Marion County, IN   3/7/2020            298
1  Marion County, IN  3/14/2020            425

***
#### **Monroe County Weekly New Jobs Claims**
***

In [20]:
MonroeCo_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_IN_MonroeCo.csv")
MonroeCo_weekly_new_jobs_claims.head(2)

           Geography        Date Initial Claims
0  Monroe County, IN  2020-03-07             21
1  Monroe County, IN  2020-03-14             18

***
#### **St. Joseph County Weekly New Jobs Claims**
***

In [21]:
StJosephCo_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_IN_StJosephCo.csv")
StJosephCo_weekly_new_jobs_claims.head(2)

               Geography        Date Initial Claims
0  St. Joseph County, IN  2020-03-07            110
1  St. Joseph County, IN  2020-03-14            113

***
#### **Henry County Weekly New Jobs Claims**
***

In [22]:
HenryCo_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_IN_HenryCo.csv")
HenryCo_weekly_new_jobs_claims.head(2)

          Geography       Date  Initial Claims
0  Henry County, IN   3/7/2020              10
1  Henry County, IN  3/14/2020              14