***
#### **Dependencies**

In [13]:
import bls
from blsconnect import RequestBLS, bls_search
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import requests
import dateutil
from datetime import datetime
#import datetime
import calendar
dict((v,k) for k,v in enumerate(calendar.month_abbr)) #from dateutil.rrule import *
#from dateutil.parser import *
#from datetime import *
import csv
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import json

***
#### **United States Weekly New Jobs Claims**
***

In [14]:
US_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_US.csv")
US_weekly_new_jobs_claims.head(2)

         Date Weekly Jobs Claims
0  1967-01-07            208,000
1  1967-01-14            207,000

In [15]:
US_weekly_new_jobs_claims.to_json('static/data/US_weekly_new_jobs_claims.json')

In [16]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///project2.sqlite')

In [17]:
US_weekly_new_jobs_claims.to_sql('New_Jobs_Claims', con=db, if_exists='append')

In [18]:
US_weekly_new_jobs_claims = pd.read_sql_query('SELECT * FROM New_Jobs_Claims LIMIT 3',db)
US_weekly_new_jobs_claims.head()

   index        Date Weekly Jobs Claims
0      0  1967-01-07            208,000
1      1  1967-01-14            207,000
2      2  1967-01-21            217,000

***
#### **Indiana Weekly New Jobs Claims**
***

In [19]:
IN_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_Indiana.csv")
IN_weekly_new_jobs_claims.head(2)

,State,Filed week ended,Initial Claims,Reflecting Week Ended,Continued Claims,Covered Employment,Insured Unemployment Rate
0,Indiana,1987-01-03,"10,068",1986-12-27,"47,604","2,065,922",2.30
1,Indiana,1987-01-10,"16,812",1987-01-03,"63,290","2,078,050",3.05

In [22]:
IN_weekly_new_jobs_claims.to_json('static/data/IN_weekly_new_jobs_claims.json')

In [23]:
IN_weekly_new_jobs_claims.to_sql('IN_weekly_new_jobs_claims', con=db, if_exists='append')

***
#### **Marion County Weekly New Jobs Claims**
***

In [24]:
MarionCo_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_IN_MarionCo.csv")
MarionCo_weekly_new_jobs_claims.head(2)

           Geography        Date Initial Claims
0  Marion County, IN  2020-03-07            298
1  Marion County, IN  2020-03-14            425

In [25]:
MarionCo_weekly_new_jobs_claims.to_json('static/data/County_weekly_new_jobs_claims.json')

In [26]:
MarionCo_weekly_new_jobs_claims.to_sql('County_weekly_new_jobs_claims', con=db, if_exists='append')

***
#### **Monroe County Weekly New Jobs Claims**
***

In [27]:
MonroeCo_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_IN_MonroeCo.csv")
MonroeCo_weekly_new_jobs_claims.head(2)

           Geography        Date Initial Claims
0  Monroe County, IN  2020-03-07             21
1  Monroe County, IN  2020-03-14             18

In [28]:
MonroeCo_weekly_new_jobs_claims.to_json('static/data/County_weekly_new_jobs_claims.json')

In [29]:
MonroeCo_weekly_new_jobs_claims.to_sql('County_weekly_new_jobs_claims', con=db, if_exists='append')

***
#### **St. Joseph County Weekly New Jobs Claims**
***

In [30]:
StJosephCo_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_IN_StJosephCo.csv")
StJosephCo_weekly_new_jobs_claims.head(2)

               Geography        Date Initial Claims
0  St. Joseph County, IN  2020-03-07            110
1  St. Joseph County, IN  2020-03-14            113

In [31]:
StJosephCo_weekly_new_jobs_claims.to_json('static/data/County_weekly_new_jobs_claims.json')

In [32]:
StJosephCo_weekly_new_jobs_claims.to_sql('County_weekly_new_jobs_claims', con=db, if_exists='append')

***
#### **Henry County Weekly New Jobs Claims**
***

In [33]:
HenryCo_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_IN_HenryCo.csv")
HenryCo_weekly_new_jobs_claims.head(2)

          Geography        Date  Initial Claims
0  Henry County, IN  2020-03-07              10
1  Henry County, IN  2020-03-14              14

In [34]:
HenryCo_weekly_new_jobs_claims.to_json('static/data/County_weekly_new_jobs_claims.json')

In [35]:
HenryCo_weekly_new_jobs_claims.to_sql('County_weekly_new_jobs_claims', con=db, if_exists='append')