* Indiana - LAUST180000000000003,LAUST180000000000004,LAUST180000000000005,LAUST180000000000006,LAUST180000000000007,LAUST180000000000008,LAUST180000000000009
* Marion Co - LAUCN180970000000003, LAUCN180970000000004, LAUCN180970000000005, LAUCN180970000000006
* Monroe Co - LAUCN181050000000003, LAUCN181050000000004, LAUCN181050000000005, LAUCN181050000000006
* St. Joseph Co - LAUCN181410000000003, LAUCN181410000000004, LAUCN181410000000005, LAUCN181410000000006

In [19]:
import bls
import pandas as pd

#### **United States Unemployment**

In [32]:
US_monthly_unemployment_rate = pd.DataFrame(bls.get_series('LNS14000000', 2011, 2020))

In [56]:
US_monthly_unemployment_rate.index.names = ['Date']
US_monthly_unemployment_rate.columns = ['Unemployment Rate']
US_monthly_unemployment_rate.head(2)

         Unemployment Rate
Date
2011-01                9.1
2011-02                9.0

#### **Indiana Unemployment**

In [62]:
Indiana_monthly_unemployment_stats = pd.DataFrame(bls.get_series(['LAUST180000000000003','LAUST180000000000004','LAUST180000000000005','LAUST180000000000006'
                                                                  ,'LAUST180000000000007','LAUST180000000000008','LAUST180000000000009'], 2011, 2020))

In [66]:
Indiana_monthly_unemployment_stats.index.names = ['Date']
Indiana_monthly_unemployment_stats.columns = ['Unemployment Rate','Unemployed','Employed','Labr Force','Employement-Population Ratio','Labor Force Participation Rate','Civilian Noninstitutional Population']
Indiana_monthly_unemployment_stats.head(2)

,Unemployment Rate,Unemployed,Employed,Labr Force,Employement-Population Ratio,Labor Force Participation Rate,Civilian Noninstitutional Population
Date,,,,,,,
2011-01,10.0,312687.0,2827588.0,3140275.0,56.7,62.9,4988647.0
2011-02,9.6,301388.0,2832204.0,3133592.0,56.7,62.8,4990729.0

#### **Monroe Co Unemployment**

In [48]:
Monroe_Co_unemployment_stats = pd.DataFrame(bls.get_series(['LAUCN181050000000003', 'LAUCN181050000000004', 'LAUCN181050000000005', 'LAUCN181050000000006'], 2011, 2020))

In [55]:
Monroe_Co_unemployment_stats.index.names = ['Date']
Monroe_Co_unemployment_stats.columns = ['Unemployment Rate', 'Unemployed', 'Employed','Labor Force']
Monroe_Co_unemployment_stats.head(2)

         Unemployment Rate  Unemployed  Employed  Labor Force
Date
2011-01                7.3      4911.0   62412.0      67323.0
2011-02                7.4      4960.0   62423.0      67383.0

#### **Marion Co Unemployment**

In [58]:
Marion_Co_unemployment_stats = pd.DataFrame(bls.get_series(['LAUCN180970000000003', 'LAUCN180970000000004', 'LAUCN180970000000005', 'LAUCN180970000000006'], 2011, 2020))

In [59]:
Marion_Co_unemployment_stats.index.names = ['Date']
Marion_Co_unemployment_stats.columns = ['Unemployment Rate', 'Unemployed', 'Employed','Labor Force']
Marion_Co_unemployment_stats.head(2)

         Unemployment Rate  Unemployed  Employed  Labor Force
Date
2011-01               10.4     46303.0  399851.0     446154.0
2011-02               10.2     45301.0  399023.0     444324.0

#### **St. Joseph Co Unemployment**

In [60]:
StJospeh_Co_unemployment_stats = pd.DataFrame(bls.get_series(['LAUCN181410000000003', 'LAUCN181410000000004', 'LAUCN181410000000005', 'LAUCN181410000000006'], 2011, 2020))

In [61]:
StJospeh_Co_unemployment_stats.index.names = ['Date']
StJospeh_Co_unemployment_stats.columns = ['Unemployment Rate', 'Unemployed', 'Employed','Labor Force']
StJospeh_Co_unemployment_stats.head(2)

         Unemployment Rate  Unemployed  Employed  Labor Force
Date
2011-01               10.7     13786.0  115236.0     129022.0
2011-02               10.4     13450.0  116073.0     129523.0