* Indiana - LAUST180000000000003,LAUST180000000000004,LAUST180000000000005,LAUST180000000000006,LAUST180000000000007,LAUST180000000000008,LAUST180000000000009
* Marion Co - LAUCN180970000000003, LAUCN180970000000004, LAUCN180970000000005, LAUCN180970000000006
* Monroe Co - LAUCN181050000000003, LAUCN181050000000004, LAUCN181050000000005, LAUCN181050000000006
* St. Joseph Co - LAUCN181410000000003, LAUCN181410000000004, LAUCN181410000000005, LAUCN181410000000006

In [40]:
import bls
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import requests
import dateutil
from datetime import datetime
import csv
import numpy as np
import matplotlib.pyplot as plt

#### **United States Unemployment**

In [47]:
US_monthly_unemployment_rate_2020 = pd.DataFrame(bls.get_series('LNS14000000', 2011, 2020))

In [48]:
US_monthly_unemployment_rate_2010 = pd.DataFrame(bls.get_series('LNS14000000', 2001, 2010))

In [49]:
US_monthly_unemployment_rate_2000 = pd.DataFrame(bls.get_series('LNS14000000', 1991, 2000))

In [50]:
US_monthly_unemployment_rate_1990 = pd.DataFrame(bls.get_series('LNS14000000', 1981, 1990))

In [51]:
US_monthly_unemployment_rate_1980 = pd.DataFrame(bls.get_series('LNS14000000', 1971, 1980))

In [52]:
US_monthly_unemployment_rate_1970 = pd.DataFrame(bls.get_series('LNS14000000', 1961, 1970))

In [53]:
US_monthly_unemployment_rate_1960 = pd.DataFrame(bls.get_series('LNS14000000', 1951, 1960))

In [89]:
US_monthly_unemployment_rate_1950 = pd.DataFrame(bls.get_series('LNS14000000', 1948, 1950))

In [86]:
# Combine all US Monthly Unemployment Rate DF into one DF (1958 - 2020)
US_monthly_unemployment_rate_A = pd.concat([US_monthly_unemployment_rate_2020, US_monthly_unemployment_rate_2010,US_monthly_unemployment_rate_2000
                                          ,US_monthly_unemployment_rate_1990,US_monthly_unemployment_rate_1980,US_monthly_unemployment_rate_1970
                                          ,US_monthly_unemployment_rate_1960,US_monthly_unemployment_rate_1950
                                         ], ignore_index=False, sort =True)

In [88]:
US_monthly_unemployment_rate_A.index.names = ['Date']
US_monthly_unemployment_rate_B = US_monthly_unemployment_rate_A.sort_values(by='Date', ascending=True)
US_monthly_unemployment_rate_B.columns = ['Unemployment Rate']
US_monthly_unemployment_rate = US_monthly_unemployment_rate_B
US_monthly_unemployment_rate.head(2)

         Unemployment Rate
Date
1948-01                3.4
1948-02                3.8

#### **Indiana Unemployment**

In [10]:
Indiana_monthly_unemployment_stats = pd.DataFrame(bls.get_series(['LAUST180000000000003','LAUST180000000000004','LAUST180000000000005','LAUST180000000000006'
                                                                  ,'LAUST180000000000007','LAUST180000000000008','LAUST180000000000009'], 2011, 2020))

In [11]:
Indiana_monthly_unemployment_stats.index.names = ['Date']
Indiana_monthly_unemployment_stats.columns = ['Unemployment Rate','Unemployed','Employed','Labr Force','Employement-Population Ratio','Labor Force Participation Rate','Civilian Noninstitutional Population']
Indiana_monthly_unemployment_stats.head(2)

,Unemployment Rate,Unemployed,Employed,Labr Force,Employement-Population Ratio,Labor Force Participation Rate,Civilian Noninstitutional Population
Date,,,,,,,
2011-01,10.0,312687.0,2827588.0,3140275.0,56.7,62.9,4988647.0
2011-02,9.6,301388.0,2832204.0,3133592.0,56.7,62.8,4990729.0

#### **Monroe Co Unemployment**

In [12]:
Monroe_Co_unemployment_stats = pd.DataFrame(bls.get_series(['LAUCN181050000000003', 'LAUCN181050000000004', 'LAUCN181050000000005', 'LAUCN181050000000006'], 2011, 2020))

In [13]:
Monroe_Co_unemployment_stats.index.names = ['Date']
Monroe_Co_unemployment_stats.columns = ['Unemployment Rate', 'Unemployed', 'Employed','Labor Force']
Monroe_Co_unemployment_stats.head(2)

         Unemployment Rate  Unemployed  Employed  Labor Force
Date
2011-01                7.3      4911.0   62412.0      67323.0
2011-02                7.4      4960.0   62423.0      67383.0

#### **Marion Co Unemployment**

In [14]:
Marion_Co_unemployment_stats = pd.DataFrame(bls.get_series(['LAUCN180970000000003', 'LAUCN180970000000004', 'LAUCN180970000000005', 'LAUCN180970000000006'], 2011, 2020))

In [15]:
Marion_Co_unemployment_stats.index.names = ['Date']
Marion_Co_unemployment_stats.columns = ['Unemployment Rate', 'Unemployed', 'Employed','Labor Force']
Marion_Co_unemployment_stats.head(2)

         Unemployment Rate  Unemployed  Employed  Labor Force
Date
2011-01               10.4     46303.0  399851.0     446154.0
2011-02               10.2     45301.0  399023.0     444324.0

#### **St. Joseph Co Unemployment**

In [16]:
StJospeh_Co_unemployment_stats = pd.DataFrame(bls.get_series(['LAUCN181410000000003', 'LAUCN181410000000004', 'LAUCN181410000000005', 'LAUCN181410000000006'], 2011, 2020))

In [46]:
StJospeh_Co_unemployment_stats.index.names = ['Date']
StJospeh_Co_unemployment_stats.columns = ['Unemployment Rate', 'Unemployed', 'Employed','Labor Force']
StJospeh_Co_unemployment_stats.head(2)

         Unemployment Rate  Unemployed  Employed  Labor Force
Date
2011-01               10.7     13786.0  115236.0     129022.0
2011-02               10.4     13450.0  116073.0     129523.0

***
#### **United States Weekly New Jobs Claims**
***

In [29]:
US_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_US.csv")
US_weekly_new_jobs_claims.head(2)

         Date Weekly Jobs Claims
0  1967-01-07            208,000
1  1967-01-14            207,000

***
#### **Indiana Weekly New Jobs Claims**
***

In [30]:
IN_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_Indiana.csv")
IN_weekly_new_jobs_claims.head(2)

,State,Filed week ended,Initial Claims,Reflecting Week Ended,Continued Claims,Covered Employment,Insured Unemployment Rate
0,Indiana,1987-01-03,"10,068",1986-12-27,"47,604","2,065,922",2.30
1,Indiana,1987-01-10,"16,812",1987-01-03,"63,290","2,078,050",3.05

***
#### **Marion County Weekly New Jobs Claims**
***

In [31]:
MarionCo_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_IN_MarionCo.csv")
MarionCo_weekly_new_jobs_claims.head(2)

           Geography        Date Initial Claims
0  Marion County, IN  2020-03-07            298
1  Marion County, IN  2020-03-14            425

***
#### **Monroe County Weekly New Jobs Claims**
***

In [32]:
MonroeCo_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_IN_MonroeCo.csv")
MonroeCo_weekly_new_jobs_claims.head(2)

           Geography        Date Initial Claims
0  Monroe County, IN  2020-03-07             21
1  Monroe County, IN  2020-03-14             18

***
#### **St. Joseph County Weekly New Jobs Claims**
***

In [33]:
StJosephCo_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_IN_StJosephCo.csv")
StJosephCo_weekly_new_jobs_claims.head(2)

               Geography        Date Initial Claims
0  St. Joseph County, IN  2020-03-07            110
1  St. Joseph County, IN  2020-03-14            113

***
#### **Henry County Weekly New Jobs Claims**
***

In [34]:
HenryCo_weekly_new_jobs_claims = pd.read_csv("data/r539cy_BLS_Weekly_Jobs_Claims_IN_HenryCo.csv")
HenryCo_weekly_new_jobs_claims.head(2)

          Geography        Date  Initial Claims
0  Henry County, IN  2020-03-07              10
1  Henry County, IN  2020-03-14              14

***
#### **Indiana COVID-19 Cases**
***

In [43]:
IN_COVID_19_Cases_A = pd.read_csv("data/Indiana_COVID-19_Cases_ by_Day-COVID_Cases_Total_by_Day.csv")
IN_COVID_19_Cases_A.columns = ['County','GeoID','2020-03-06','2020-03-07','2020-03-08','2020-03-09','2020-03-10','2020-03-11','2020-03-12','2020-03-13'
                            ,'2020-03-14','2020-03-15','2020-03-16','2020-03-17','2020-03-18','2020-03-19','2020-03-20','2020-03-21','2020-03-22','2020-03-23'
                            ,'2020-03-24','2020-03-25','2020-03-26','2020-03-27','2020-03-28','2020-03-29','2020-03-30','2020-03-31'
                            ,'2020-04-01','2020-04-02','2020-04-03','2020-04-04']

In [44]:
IN_COVID_19_Cases = IN_COVID_19_Cases_A.replace(np.nan, "N/A")
IN_COVID_19_Cases.head(2)

,County,GeoID,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,2020-03-11,2020-03-12,2020-03-13,...,2020-03-26,2020-03-27,2020-03-28,2020-03-29,2020-03-30,2020-03-31,2020-04-01,2020-04-02,2020-04-03,2020-04-04
0,Adams County,18001,N/A,N/A,N/A,N/A,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
1,Allen County,18003,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,8,21,23,26,28,30,39,46,58,59

***
### **PLOTS**
***