In [1]:
import bls
from blsconnect import RequestBLS, bls_search
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import requests
import dateutil
from datetime import datetime
#import datetime
import calendar
dict((v,k) for k,v in enumerate(calendar.month_abbr)) #from dateutil.rrule import *
#from dateutil.parser import *
#from datetime import *
import csv
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import json

In [2]:
from config import BLS_API_KEY
bls = RequestBLS(key = BLS_API_KEY)

In [3]:
StJoseph_Co_unemployment_stats = pd.DataFrame(bls.series(['LAUCN181410000000003', 'LAUCN181410000000004', 'LAUCN181410000000005', 'LAUCN181410000000006'], 1990, 2020))

In [4]:
#Clark_Co_unemployment_stats.index.names = ['Date']
StJoseph_Co_unemployment_stats.columns = ['Year','Period','periodName','Unemployment_Rate', 'Unemployed', 'Employed','Labor_Force']
StJoseph_Co_unemployment_stats.head(2)

,Year,Period,periodName,Unemployment_Rate,Unemployed,Employed,Labor_Force
0,1990,M01,January,5.4,6791,119402,126193
1,1990,M02,February,6.7,8512,118213,126725

In [5]:
StJoseph_Co_unemployment_stats['Year-Month'] = Clark_Co_unemployment_stats["Year"].astype(str) + "-" + StJoseph_Co_unemployment_stats["periodName"] 
StJoseph_Co_unemployment_stats.head(2)

NameError: name 'Clark_Co_unemployment_stats' is not defined

In [ ]:
StJoseph_Co_unemployment_stats.info()

In [ ]:
StJoseph_Co_unemployment_stats['County'] = 'St. Joseph'

In [ ]:
StJoseph_Co_unemployment_stats.head(2)

In [ ]:
StJoseph_Co_unemployment_stats.to_json(r'json\StJoseph_Co_unemployment_stats.json')

In [ ]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///project2.sqlite')

In [ ]:
StJoseph_Co_unemployment_stats.to_sql('CountyUnemployment', con=db)

In [ ]:
StJoseph_Co_unemployment_stats = pd.read_sql_query('SELECT * FROM CountyUnemployment LIMIT 3',db)
StJoseph_Co_unemployment_stats.head()