In [1]:
import bls
from blsconnect import RequestBLS, bls_search
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import requests
import dateutil
from datetime import datetime
#import datetime
import calendar
dict((v,k) for k,v in enumerate(calendar.month_abbr)) #from dateutil.rrule import *
#from dateutil.parser import *
#from datetime import *
import csv
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import json

In [2]:
from config import BLS_API_KEY
bls = RequestBLS(key = BLS_API_KEY)

In [3]:
StJoseph_Co_unemployment_stats = pd.DataFrame(bls.series(['LAUCN181410000000003', 'LAUCN181410000000004', 'LAUCN181410000000005', 'LAUCN181410000000006'], 2005, 2020))

In [4]:
StJoseph_Co_unemployment_stats.columns = ['Year','Period','periodName','Unemployment_Rate', 'Unemployed', 'Employed','Labor_Force']

In [5]:
StJoseph_Co_unemployment_stats['Year-Month'] = StJoseph_Co_unemployment_stats["Year"].astype(str) + "-" + StJoseph_Co_unemployment_stats["periodName"]

In [6]:
StJoseph_Co_unemployment_stats['County'] = 'St. Joseph'

In [7]:
StJoseph_Co_unemployment_stats.head(2)

,Year,Period,periodName,Unemployment_Rate,Unemployed,Employed,Labor_Force,Year-Month,County
0,2005,M01,January,5.8,7639,124436,132075,2005-January,St. Joseph
1,2005,M02,February,6.1,8098,124960,133058,2005-February,St. Joseph

In [8]:
StJoseph_Co_unemployment_stats.to_json('json\StJoseph_Co_unemployment_stats.json')

In [9]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///project2.sqlite')

In [10]:
StJoseph_Co_unemployment_stats.to_sql('CountyUnemployment', con=db, if_exists='append')

In [11]:
StJoseph_Co_unemployment_stats = pd.read_sql_query('SELECT * FROM CountyUnemployment LIMIT 3',db)
StJoseph_Co_unemployment_stats.head()

,index,Year,Period,periodName,Unemployment_Rate,Unemployed,Employed,Labor_Force,Year-Month,County
0,0,1990,M01,January,5.2,2323,42443,44766,1990-January,Clark
1,1,1990,M02,February,5.5,2475,42407,44882,1990-February,Clark
2,2,1990,M03,March,6.4,2924,42505,45429,1990-March,Clark