In [30]:
import bls
from blsconnect import RequestBLS, bls_search
import pandas as pd
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import requests
import dateutil
from datetime import datetime
#import datetime
import calendar
dict((v,k) for k,v in enumerate(calendar.month_abbr)) #from dateutil.rrule import *
#from dateutil.parser import *
#from datetime import *
import csv
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import json

In [31]:
from config import BLS_API_KEY
bls = RequestBLS(key = BLS_API_KEY)

In [32]:
Allen_Co_unemployment_stats = pd.DataFrame(bls.series(['LAUCN180030000000003','LAUCN180030000000004','LAUCN180030000000005','LAUCN180030000000006'], 2005, 2020))

In [33]:
Allen_Co_unemployment_stats.columns = ['Year','Period','periodName','Unemployment_Rate', 'Unemployed', 'Employed','Labor_Force']

In [34]:
Allen_Co_unemployment_stats['Year-Month'] = Allen_Co_unemployment_stats["Year"].astype(str) + "-" + Allen_Co_unemployment_stats["periodName"]

In [35]:
Allen_Co_unemployment_stats['County'] = 'Allen'

In [22]:
Allen_Co_unemployment_stats.head(2)

,Year,Period,periodName,Unemployment_Rate,Unemployed,Employed,Labor_Force,Year-Month,County
0,2005,M01,January,5.9,10348,165267,175615,2005-January,Allen
1,2005,M02,February,6.3,11144,164633,175777,2005-February,Allen

In [39]:
Allen_Co_unemployment_stats.to_json('json\Allen_Co_unemployment_stats.json')

In [36]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///project2.sqlite')

In [37]:
Allen_Co_unemployment_stats.to_sql('CountyUnemployment', con=db, if_exists='append')

In [40]:
Allen_Co_unemployment_stats = pd.read_sql_query('SELECT * FROM CountyUnemployment LIMIT 3',db)
Allen_Co_unemployment_stats.head()

,index,Year,Period,periodName,Unemployment_Rate,Unemployed,Employed,Labor_Force,Year-Month,County
0,0,2005,M01,January,5.9,10348,165267,175615,2005-January,Allen
1,1,2005,M02,February,6.3,11144,164633,175777,2005-February,Allen
2,2,2005,M03,March,5.8,10245,165455,175700,2005-March,Allen