In [1]:
import pandas as pd
import csv

In [17]:
Allen_weekly_claims = pd.read_csv("Data Sources/r539cy_BLS_Weekly_Jobs_Claims_IN_Allen_Co.csv")

In [18]:
Allen_weekly_claims.head(14)

           Geography        Date Initial Claims
0   Allen County, IN  2020-01-04            198
1   Allen County, IN  2020-01-11            245
2   Allen County, IN  2020-01-18            251
3   Allen County, IN  2020-01-25            164
4   Allen County, IN  2020-02-01            137
5   Allen County, IN  2020-02-08            156
6   Allen County, IN  2020-02-15            196
7   Allen County, IN  2020-02-22            424
8   Allen County, IN  2020-02-29            157
9   Allen County, IN  2020-03-07            108
10  Allen County, IN  2020-03-14            115
11  Allen County, IN  2020-03-21          3,561
12  Allen County, IN  2020-03-28          9,950
13  Allen County, IN  2020-04-04          6,848

In [21]:
Allen_weekly_claims.columns = ['County','Date', 'InitialClaims']

In [23]:
def allfridays(year):
    return pd.date_range(start=str(year), end=str(year+1), 
                         freq='W-FRI').strftime('%Y%m%d').tolist()

In [24]:
Allen_weekly_claims['Date'] = allfridays(2020)[:14]

In [31]:
Allen_weekly_claims['InitialClaims'] = Allen_weekly_claims['InitialClaims']
Allen_weekly_claims['InitialClaims'] =  Allen_weekly_claims['InitialClaims'].astype(int)

In [32]:
Allen_weekly_claims.head()

             County      Date  InitialClaims
0  Allen County, IN  20200103            198
1  Allen County, IN  20200110            245
2  Allen County, IN  20200117            251
3  Allen County, IN  20200124            164
4  Allen County, IN  20200131            137

In [35]:
Allen_Covid = pd.read_pickle('Allen_covid.pkl')

In [36]:
Allen_Covid.head()

         County GEOGID      Date  Count
0  Allen County  18003  20200306      0
1  Allen County  18003  20200307      0
2  Allen County  18003  20200308      0
3  Allen County  18003  20200309      0
4  Allen County  18003  20200310      0

In [37]:
Allen_Covid_Weekly_Claims = pd.merge(Allen_weekly_claims[['County', 'Date', 'InitialClaims']], 
                                           Allen_Covid[['Count', 'Date']], how='outer', on='Date', sort=True)

In [38]:
Allen_Covid_Weekly_Claims['County'] = 'Allen County, IN'
Allen_Covid_Weekly_Claims.fillna(0, inplace=True)

In [39]:
Allen_Covid_Weekly_Claims.dtypes

County            object
Date              object
InitialClaims    float64
Count            float64
dtype: object

In [40]:
Allen_Covid_Weekly_Claims.head()

             County      Date  InitialClaims  Count
0  Allen County, IN  20200103          198.0    0.0
1  Allen County, IN  20200110          245.0    0.0
2  Allen County, IN  20200117          251.0    0.0
3  Allen County, IN  20200124          164.0    0.0
4  Allen County, IN  20200131          137.0    0.0

In [41]:
Allen_Covid_Weekly_Claims.to_json('static/data/Allen_covid_weekly_claims.json')